
.header {
  margin-top: 15%;
  margin-bottom: 5%;
}
.u-bold {
  font-weight: 500;
}
.u-grey-1 {
  color: #373737;
}
.u-grey-2 {
  color: #424242;
}
.u-grey-3 {
  color: #8e8e8e;
}
.section-work {
  padding-top: 5%;
  padding-bottom:5%;
}
.section-work .row {
  padding-top: 5%;
  padding-bottom: 5%;
}
font-family: 'Roboto Mono', monospace;


img {
  display: block;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.08), 0 6px 18px 1px rgba(0,0,0,0.08), 0 8px 40px 0 rgba(0,0,0,0.08);
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 2.5%;
}
